* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    text-align: center;
    color: hsl(232, 10%, 55%);
}

img {
    width: 100%;
}

h1, h2 {
    font-family: 'Fraunces', sans-serif;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 60px;
    letter-spacing: 5px;
    font-weight: 600;
}

h2 {
    margin: 1.5em 0;
    color: hsl(212, 27%, 19%);
    font-weight: 900;
}

h1, 
.btn {
    text-transform: uppercase;
}

/* HEADER AND HERO SECTIONS */

header{
    background-image: url('./images/mobile/image-header.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container-flex {   
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.logo {
    width: 124px;
}

.hamburger {
    width: 24px;
}

.hamburger-menu,
.navbar {
    display: none;
}

.accent-text {
    display: block;
}

.arrow-line {
    width: 50px;
    height: 50px;
    transform: translate(160px, 60px);
}

.section-text {
    padding: 1.5em;
    margin-bottom: 1em;
}

.btn {
    padding: 0 10px;
    border: none;
    margin: 2em 0;
    border-radius: 50px;
    display: inline-block;
    background-color: hsla(51, 100%, 49%, 0.2);
    color: black;
    font-family: 'Fraunces', sans-serif;
    text-decoration: none;
}

.graphics,
.photography {
    height: 100vh;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
    padding: 1em 1em 2em;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    /* margin-bottom: 1em; */
}

.graphics {
    background-image: url('./images/mobile/image-graphic-design.jpg');
}

.photography {
    background-image: url('./images/mobile/image-photography.jpg');
}